body {
    background-color: rgb(16, 199, 122);
    /* background-image: url("border.png"); */
}

p {
    color: green;
    font-weight: 1000;
}

hr {
    background-color: darkgreen;
    height: 5px;
    border: solid darkgreen;
}

form {
    border: solid green;
    border-radius: 15px;
    width: 35%;
    text-align: center;
    margin: auto;
    background-color: rgb(223, 255, 216);
}

form#admin_form {
    border: solid green;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(223, 255, 216);
    height: 200px;
    width: 500px;
    margin-left: 300px;
}

iframe {
    border: solid green;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background-color: rgb(223, 255, 216);
    margin-left: 65px;
}

button,
input,
button[type=submit] {
    border-radius: 5px;
    border: solid green;
    background-color: rgb(226, 247, 196);
    font-weight: 1000;
    color: green;
}

button,
input:hover {
    background-color: yellowgreen;
}

button[type=submit]:hover {
    background-color: yellowgreen;
}

h2 {
    text-align: center;
    color: green;
}

div.box {
    margin: 40px;
    border-width: 1px;
}

div#main_img {
    text-align: center;
}

div#error_img {
    text-align: center;
}

div#input_TryAg {
    text-align: center;
}






#menubar {
    background: darkgreen;
}

#menubar ul {
    /* 여백과 패딩 모두 0 */
    margin: 0;
    padding: 0;
    width: 100%;
    /* 모든 아이템(<li>)을 한 줄에 품을 수 있는 폭 */
}

#menubar ul li {
    display: inline-block;
    /* 새 줄로 넘어가지 않게 */
    list-style-type: none;
    /* 마커 삭제 */
    padding: 10px 15px;
    /* top=bottom=0, left=right=15px */
}

#menubar ul li a {
    color: white;
    text-decoration: none;
    /* 링크 보이지 않게 */
}

#menubar ul li a:hover {
    color: yellowgreen;
    /* 마우스 올라 갈 때 색 */
}