<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="lecture_style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body style="background-color: #1B1F38;">
    <div id="body_full"></div>

    <div class="SecuritygroundFrontLecture03">
        <div class="Frame1">
            <div class="VideoSTitleMain">Video's Title</div>
            <div class="Group1">
                <div class="Rectangle1"></div>
                <div class="ArrowGoBackLine">
                    <a href="#"><img src="./images/arrow-go-back-line.png" /></a>
                </div>
            </div>
            <div class="Group2">
                <div class="CourseRate">Course rate</div>
                <div class="CourseRate2">10.2%</div>
            </div>
            <div class="Group3">
                <div class="CourseTime">Course time</div>
                <div class="CourseTime2">01:15:31</div>
            </div>
            <div class="Group4">
                <div class="TotalLectureTime">Total lecture time</div>
                <div class="TotalLectureTime2">12:36:45</div>
            </div>
        </div>
        <iframe class="CddcThumbnail1" src="https://play.mbus.tv/hls/189901853a75c635" allowfullscreen></iframe>
        <div class="Group5">
            <div class="Rectangle2"></div>
            <div class="Reference"><a href="javascript:call_popup('/reference');"
                    style="font-size: 20px; color: white;">Reference</a>
            </div>
            <div class="SearchLine">
                <div class="Vector2"><img src="./images/search_line.png" /></div>
            </div>
        </div>
        <div class="Group6">
            <div class="Rectangle3"></div>
            <div class="GoToRelatedChallenge">
                <a href="#" style="font-size: 20px; color: white;">
                    Go to related Challenge</a>
            </div>
            <div class="FlagLine">
                <div class="Vector2"><img src="./images/flag-line.png" /></div>
            </div>
        </div>
        <div class="Group7">
            <div class="Rectangle4"></div>
            <div class="Contents">Contents</div>

            <div class="Group16">
                <div class="tab">
                    <ul class="tabnav">
                        <li class="li1"><a href="#tab01">
                                Basic Concepts of Cybersecurity
                            </a></li>
                        <li class="li2"><a style="line-height: 60px;" href="#tab02">CTF Topics</a></li>
                    </ul>
                    <div class="tabcontent">
                        <div id="tab01">

                            <div class="Group15_1">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Cybersecurity</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 1;">
                                        <input type="checkbox" class="" id="collapsible1"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible1"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="Group15_2">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Linux</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 2;">
                                        <input type="checkbox" class="" id="collapsible2"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible2"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="Group15_3">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Windows</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 3;">
                                        <input type="checkbox" class="" id="collapsible3"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible3"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="Group15_4">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Networking</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 3;">
                                        <input type="checkbox" class="" id="collapsible4"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible4"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="Group15_5">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Cryptography</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 3;">
                                        <input type="checkbox" class="" id="collapsible5"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible5"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="Group15_6">
                                <div class="Rectangle7">
                                    <div class="FundamentalsOfCybersecurity">Fundamentals of Web Security</div>
                                    <div class="Progress2">(1/8)</div>

                                    <div class="menu" style="z-index: 3;">
                                        <input type="checkbox" class="" id="collapsible6"
                                            onchange="control_dropMenu(this)">
                                        <label for="collapsible6"></label>
                                        <ul id="menuitems" class="menuitems">
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 1</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 2</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 3</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 4</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                            <li>
                                                <img src=" ./images/checkbox-circle-line.svg" />
                                                <a href="#">Video's Title 5</a>
                                                <div style="color: #fff;">00:00</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="tab02" style="color: white;">
                            tab2 content
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popup_container">
        <br>
        <div id="popup_title">Reference</div>
        <div id="close_popup">
            <img src="./images/Frame.svg" onclick="call_popup();">
        </div>
        <hr>

        <div id="ref_link">
            <a href="#" target="_blank">1. Reference Link Title</a><br>
            <a href="#" target="_blank">2. Reference Link Title</a><br>
            <a href="#" target="_blank">3. Reference Link Title</a><br>
            <a href="#" target="_blank">4. Reference Link Title</a>
        </div>
    </div>

    <script>
        $(function () {
            $('.tabcontent > div').hide();
            $('.tabnav a').click(function () {
                $('.tabcontent > div').hide().filter(this.hash).fadeIn();
                $('.tabnav a').removeClass('active');
                $(this).addClass('active');
                return false;
            }).filter(':eq(0)').click();
        });

        function control_dropMenu(checked) {
            console.log(Number(checked.id.slice(11)))

            if (checked.checked) {
                if (checked.id.slice(11) == '4') {
                    $('.Group7').css('height', '1090px');
                }
                else if (checked.id.slice(11) == '5') {
                    $('.Group7').css('height', '1220px');
                }
                else if (checked.id.slice(11) == '6') {
                    $('.Group7').css('height', '1350px');
                }

                for (var i = 1; i < 4; i++) {
                    $(`.Group15_${Number(checked.id.slice(11)) + i}`).css('display', 'none');
                }
            }
            else if (!checked.checked) {
                if (checked.id.slice(11) == '4' || checked.id.slice(11) == '5' || checked.id.slice(11) == '6') {
                    $('.Group7').css('height', '970px');
                }

                for (var i = 1; i < 4; i++) {
                    $(`.Group15_${Number(checked.id.slice(11)) + i}`).css('display', 'block');
                }
            }
        }


        function call_popup() {
            /* display 값 확인 */
            var tagId = document.getElementById("popup_container");
            var display = window.getComputedStyle(tagId).display;

            if (display == "none") {
                tagId.style.display = "block";
            }
            else {
                tagId.style.display = "none";
            }

            /* body 영역 투명도 표시 함수 호출 */
            bodyFull();
        };

        /* 바디 영역 투명도 표시 이벤트 함수 정의 */
        function bodyFull() {
            /* display 값 확인 */
            var tagId = document.getElementById("body_full");
            var display = window.getComputedStyle(tagId).display;

            if (display == "none") {
                console.log("bodyFull : debug [2]");
                tagId.style.display = "block";
            }
            else {
                console.log("bodyFull : debug [3]");
                tagId.style.display = "none";
            }
        };

    </script>
</body>

</html>