body {
    /* background-color: rgb(16, 199, 122); */
    /* background-color: rgb(226, 247, 196); */
}

p {
    color: #424242;
    font-weight: 1000;
}

a {
    text-decoration: none;
    color: black;
}

hr.head {
    background-color: #2E2E2E;
    height: 5px;
    border: solid #2E2E2E;
}

#foot {
    border-top: 1px solid #bbb;
}

form {
    border: solid #6E6E6E;
    border-radius: 10px;
    width: 35%;
    text-align: center;
    margin: auto;
    background-color: rgb(223, 255, 216);
}

form#admin_form {
    border: solid #6E6E6E;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    height: 300px;
    width: 600px;
    margin-left: 200px;
}

iframe {
    border: solid #6E6E6E;
    border-radius: 10px;
    height: 700px;
    width: 800px;
    /* background-color: rgb(223, 255, 216); */
    margin-left: 65px;
}

button,
input,
button[type=submit] {
    border-radius: 5px;
    border: solid #6E6E6E;
    background-color: #FFFFFF;
    font-weight: 1000;
    color: #2E2E2E;
}

button,
input:hover {
    background-color: #d0c9c9;
}

button[type=submit]:hover {
    background-color: #d0c9c9;
}

h2 {
    text-align: center;
    color: #2E2E2E;
}

div.box {
    margin: 40px;
    border-width: 1px;
}

div#main_img {
    text-align: center;
}

div#error_img {
    text-align: center;
}

div#input_TryAg {
    text-align: center;
}

#menubar {
    background: #A4A4A4;
}

#menubar ul {
    /* 여백과 패딩 모두 0 */
    margin: 0;
    padding: 0;
    width: 100%;
    /* 모든 아이템(<li>)을 한 줄에 품을 수 있는 폭 */
}

#menubar ul li {
    display: inline-block;
    /* 새 줄로 넘어가지 않게 */
    list-style-type: none;
    /* 마커 삭제 */
    padding: 10px 15px;
    /* top=bottom=0, left=right=15px */
}

#menubar ul li a {
    color: white;
    text-decoration: none;
    /* 링크 보이지 않게 */
}

#menubar ul li a:hover {
    color: #A4A4A4;
    /* 마우스 올라 갈 때 색 */
}

/* map.html */
#map {
    margin-left: auto;
    margin-right: auto;
}