h2 {
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
}


table {
    /* 이중 테두리 제거 */
    border: 1px solid #000000;
    border-collapse: collapse;
}

td,
th {
    /* 모든 셀에 적용 */
    border: 1px solid#000000;
    padding: 5px;
    height: 15px;
    width: 100px;
    text-align: center;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif KR', serif;
}

thead,
tfoot {
    /* <thead>의 모든 셀에 적용 */
    background: #D8D8D8;
    color: #000000;
}

tbody tr:nth-child(even) {
    /* 짝수 <tr>에 적용*/
    background: #F2F2F2;
}

tbody tr:hover {
    background: #BDBDBD;
}

/* 
@keyframes textColorAnimation {
    0% {
        color: rgb(0, 217, 255);
    }

    30% {
        color: rgb(255, 0, 0);
    }

    60% {
        color: rgb(238, 255, 4);
    }

    100% {
        color: rgb(247, 0, 255);
    }
}

span {
    font-size: 30px;
    animation-name: textColorAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    vertical-align: middle;
} */